

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 42, 4);
    height: 60px;
    font-size: 1.2rem;
  }

  /* Stile dei link della barra di navigazione */
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
  }

  /* Stile dei link della barra di navigazione al passaggio del mouse */
.navbar a:hover {
    background-color: rgb(255, 136, 0);
  }